.user{
    position: relative; top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2vw;
    .header{
        width: 100%;
    }

    .Ships{
        display : grid;
        grid-template-columns: repeat(10,1rem);
        grid-template-rows: repeat(10,1rem);


        .rect{
            width: 1rem;
            height:  1rem;
            border: 1px solid black;
        }
        .ship{
            display: flex;
            background-color: red;

            &:-moz-drag-over{
                cursor:pointer;
            }
        }
        .ship[data-direction="column"]{
            flex-direction: column;
        }
        .ship[data-direction="row"]{
            flex-direction: row;
        }
        // .cell2{
        //     grid-area: 5/6 / 9/6;
        //     background-color: red;
        // }
        // .cell3{
        //     grid-area: 1/5 / 1/8;
        //     background-color: blue;
        // }
        // .cell4{
        //     grid-area: 4/8 / 7/8;
        //     background-color: red;
        // }
        // .cell5{
        //     grid-area: 10/2 / 10/4;
        //     background-color: red;
        // }
    }


}